@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

button {
  transition: all 0.2s linear;
}
button:active {
  transform: scale(0.9);
}

.header {
  width: calc(100% - 300px);
  height: 60px;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  right: 0px;
  background-color: #0269d5;
  transition: all 0.3s linear;
  z-index: 2;
}
.header .header_left {
  width: 100%;
}
.header .header_left .profiles_triggers {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .header_left .profiles_triggers .active {
  background-color: #cbdfeb;
  color: #0269d5;
}
.header .header_left .profiles_triggers .profile_trigger {
  padding: 0.5rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  outline: none;
  background-color: transparent;
  font-size: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  transition: all 0.2s linear;
}
.header .header_left .profiles_triggers .profile_trigger:hover {
  background-color: #cbdfeb;
  color: #0269d5;
}
.header .header_left .profiles_triggers .profile_trigger:last-child {
  margin-right: 0rem;
}
.header .header_left .short_menu_trigger {
  display: none;
}
.header .header_left .h_l_inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.header .header_left .h_l_inner .searchBox_container {
  padding-left: 1rem;
  flex-shrink: 0;
}
.header .header_left .h_l_inner .searchBox_container .form form {
  background-color: white;
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
}
.header .header_left .h_l_inner .searchBox_container .form form button {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  background-color: transparent;
  color: black;
  font-size: 1rem;
  flex-shrink: 0;
}
.header .header_left .h_l_inner .searchBox_container .form form input {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  padding-right: 1rem;
}
.header .header_left .h_l_inner .welcome_message_container {
  width: 100%;
  color: white;
  margin-left: 17vw;
}
.header .header_left .h_l_inner .welcome_message_container h1 {
  font-family: "Courier Prime", monospace;
}
.header .short_menu_triggers {
  margin-left: auto;
  flex-shrink: 0;
  padding: 0rem 2rem;
}
.header .short_menu_triggers .active {
  border-color: white;
  background-color: #0269d5;
  color: #cbdfeb;
}
.header .short_menu_trigger {
  width: 40px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  color: #0269d5;
  background-color: #cbdfeb;
  font-size: 1rem;
  margin-right: 1rem;
  transition: all 0.2s linear;
}
.header .short_menu_trigger:hover {
  border-color: white;
  background-color: #0269d5;
  color: #cbdfeb;
}
.header .short_menu_trigger:last-child {
  margin-right: 0rem;
}
.header .user_settings_container,
.header .notifications_container {
  width: 300px;
  background-color: #f4f5f7;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.7rem;
  overflow: hidden;
  position: absolute;
  top: calc(100% + 1rem);
  right: 1rem;
  -webkit-box-shadow: 0 1.5px 12px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1.5px 12px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1.5px 12px 2px rgba(116, 107, 107, 0.1);
  display: none;
}
.header .notifications_container {
  height: 400px;
}
.header .notifications_container .n_header {
  height: 60px;
  line-height: 60px;
  padding: 0rem 1rem;
  flex-shrink: 0;
  background-color: #0269d5;
  color: white;
}
.header .notifications_container .notifications {
  height: calc(100% - 60px);
  padding: 1rem;
  overflow-y: auto;
}
.header .notifications_container .notifications .notification {
  margin-bottom: 1rem;
}
.header .notifications_container .notifications .notification p {
  padding: 0.5rem;
  font-size: 14px;
  background-color: #cbdfeb;
  margin-bottom: 0.5rem;
}
.header .notifications_container .notifications .notification h6 {
  color: #0269d5;
  text-align: right;
}
.header .user_settings_container .u_s_header {
  padding: 1rem;
  background-color: #0269d5;
}
.header .user_settings_container .user_settings {
  padding: 1rem;
}
.header .user_settings_container .user_settings a {
  display: flex;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  border-radius: 5px;
  color: black;
}
.header .user_settings_container .user_settings a .icon {
  margin-right: 1rem;
}
.header .user_settings_container .user_settings a:hover {
  background-color: #0269d5;
  color: white;
}

.header_welcome_responsive {
  display: none;
}

.floating_action_buttons {
  position: fixed;
  bottom: 80px;
  right: 0;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.floating_action_buttons .btn_container {
  margin-bottom: 1rem;
  position: relative;
}
.floating_action_buttons .btn_container:last-child {
  margin-bottom: 0rem;
}
.floating_action_buttons .btn_container .floating_action_btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  cursor: pointer;
  background-color: white;
  font-size: 1.5rem;
  color: #0269d5;
  transition: none;
}
.floating_action_buttons .btn_container .floating_action_btn:hover {
  background-color: #0269d5;
  color: white;
}
.floating_action_buttons .btn_container .floating_action_btn.active {
  background-color: #0269d5;
  color: white;
}
.floating_action_buttons .btn_container .floating_box_container {
  width: 300px;
  position: absolute;
  bottom: 0;
  right: calc(100% + 1rem);
  -webkit-box-shadow: 0 1.5px 12px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1.5px 12px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1.5px 12px 2px rgba(116, 107, 107, 0.1);
  background-color: white;
  border-radius: 0.7rem;
  overflow: hidden;
}
.floating_action_buttons .btn_container .chat_box_container {
  height: 400px;
  display: none;
  flex-direction: column;
}
.floating_action_buttons .btn_container .chat_box_container .chat_box_header {
  width: 100%;
  display: flex;
  padding: 1.5rem 1rem;
  background-color: #0269d5;
  color: white;
  flex-shrink: 0;
  align-items: center;
}
.floating_action_buttons
  .btn_container
  .chat_box_container
  .chat_box_header
  .img {
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 0.5rem;
}
.floating_action_buttons
  .btn_container
  .chat_box_container
  .chat_box_header
  .img
  img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.floating_action_buttons
  .btn_container
  .chat_box_container
  .chat_box_header
  span {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 5px;
}
.floating_action_buttons
  .btn_container
  .chat_box_container
  .chat_box_header
  span.active {
  background-color: #43ff43;
}
.floating_action_buttons
  .btn_container
  .chat_box_container
  .chat_box_header
  span.inactive {
  background-color: #ff1717;
}
.floating_action_buttons
  .btn_container
  .chat_box_container
  .chat_box_header
  .chat_close_btn {
  cursor: pointer;
  margin-left: auto;
}
.floating_action_buttons .btn_container .chat_box_container .chatting {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 1.5rem;
  font-size: 12px;
}
.floating_action_buttons
  .btn_container
  .chat_box_container
  .chatting
  .message_user {
  padding-left: 1rem;
  margin-bottom: 1rem;
}
.floating_action_buttons
  .btn_container
  .chat_box_container
  .chatting
  .message_user
  .date {
  text-align: right;
  margin-bottom: 0.5rem;
}
.floating_action_buttons
  .btn_container
  .chat_box_container
  .chatting
  .message_user
  p {
  padding: 0.5rem 1rem;
  background-color: #cbdfeb;
}
.floating_action_buttons
  .btn_container
  .chat_box_container
  .chatting
  .message_service {
  padding-right: 1rem;
  margin-bottom: 1rem;
  display: flex;
}
.floating_action_buttons
  .btn_container
  .chat_box_container
  .chatting
  .message_service
  .img {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  margin-right: 0.5rem;
  border-radius: 50%;
  overflow: hidden;
}
.floating_action_buttons
  .btn_container
  .chat_box_container
  .chatting
  .message_service
  .img
  img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.floating_action_buttons
  .btn_container
  .chat_box_container
  .chatting
  .message_service
  .date {
  margin-bottom: 0.5rem;
}
.floating_action_buttons
  .btn_container
  .chat_box_container
  .chatting
  .message_service
  p {
  padding: 0.5rem 1rem;
  background-color: #f4f5f7;
}
.floating_action_buttons .btn_container .chat_box_container .typing {
  width: 100%;
  background-color: #f4f8fb;
  padding: 0.5rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.floating_action_buttons .btn_container .chat_box_container .typing form {
  display: flex;
}
.floating_action_buttons
  .btn_container
  .chat_box_container
  .typing
  form
  input[type="text"] {
  width: 100%;
  height: 30px;
  padding: 0rem 0.5rem;
  background-color: transparent;
  border: none;
  outline: none;
}
.floating_action_buttons
  .btn_container
  .chat_box_container
  .typing
  form
  input[type="file"] {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1000;
}
.floating_action_buttons .btn_container .chat_box_container .typing form label {
  width: 20px;
  line-height: 30px;
  text-align: center;
  margin-right: 0.5rem;
  flex-shrink: 0;
  cursor: pointer;
}
.floating_action_buttons
  .btn_container
  .chat_box_container
  .typing
  form
  button {
  width: 20px;
  flex-shrink: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.floating_action_buttons .btn_container .question_box_container {
  display: none;
}
.floating_action_buttons .btn_container .question_box_container .q_b_h {
  padding: 1rem;
  background-color: #0269d5;
  color: white;
}
.floating_action_buttons .btn_container .question_box_container .q_b_items {
  padding: 1rem;
}
.floating_action_buttons .btn_container .question_box_container .q_b_items a {
  display: flex;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  border-radius: 5px;
  color: black;
}
.floating_action_buttons
  .btn_container
  .question_box_container
  .q_b_items
  a:hover {
  background-color: #0269d5;
  color: white;
}
.floating_action_buttons .btn_container .bulb_container {
  display: none;
}
.floating_action_buttons .btn_container .bulb_container .b_s_h {
  padding: 1rem;
  background-color: #0269d5;
  color: white;
}
.floating_action_buttons .btn_container .bulb_container .b_s_items {
  padding: 1rem;
}
.floating_action_buttons .btn_container .bulb_container .b_s_items .item {
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  border-radius: 5px;
  color: black;
}
.floating_action_buttons .btn_container .bulb_container .b_s_items .item:hover {
  background-color: #0269d5;
  color: white;
}

.sidebar {
  width: 300px;
  height: 100vh;
  overflow: hidden;
  transition: all 0.3s linear;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.sidebar .mobile_menu_wrapper {
  overflow-y: auto;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
}
.sidebar .mobile_menu_wrapper::-webkit-scrollbar {
  width: 5px;
}
.sidebar .mobile_menu_wrapper::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #888;
}
.sidebar .bar_logo {
  width: 100%;
  height: 60px;
  padding: 0rem 1.2rem;
  display: flex;
  align-items: center;
}
.sidebar .bar_logo .menu_bar {
  width: 30px;
  height: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.sidebar .bar_logo .menu_bar span {
  display: block;
  height: 3px;
  background-color: #969696;
  transition: all 0.2s linear;
}
.sidebar .bar_logo .menu_bar span:nth-child(1) {
  width: 60%;
}
.sidebar .bar_logo .menu_bar span:nth-child(2) {
  width: 100%;
}
.sidebar .bar_logo .menu_bar span:nth-child(3) {
  width: 80%;
}
.sidebar .bar_logo .menu_bar:hover span:nth-child(1),
.sidebar .bar_logo .menu_bar:hover span:nth-child(3) {
  width: 100%;
}
.sidebar .bar_logo .cross_bar {
  height: 30px;
  position: relative;
}
.sidebar .bar_logo .cross_bar span {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
}
.sidebar .bar_logo .cross_bar span:nth-child(1) {
  width: 100%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.sidebar .bar_logo .cross_bar span:nth-child(2) {
  display: none;
}
.sidebar .bar_logo .cross_bar span:nth-child(3) {
  width: 100%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.sidebar .bar_logo .logo {
  margin-left: 1rem;
}
.sidebar .bar_logo .logo a {
  color: #969696;
}
.sidebar .bar_logo .hash {
  margin-left: auto;
  font-size: 1.5rem;
  color: #0269d5;
}
.sidebar .title {
  padding: 0rem 1rem;
  height: 60px;
  line-height: 60px;
}
.sidebar .navigation_menu,
.sidebar .sider_bar_footer {
  width: 100%;
}
.sidebar .navigation_menu {
  padding: 0rem 1rem 1rem 1rem;
  min-height: calc(50vh - 65px);
}
.sidebar .navigation_menu ul {
  width: 100%;
}
.sidebar .navigation_menu ul li {
  width: 100%;
}
.sidebar .navigation_menu ul li .active {
  background-color: #cbdfeb;
  color: #0067d4;
  margin: 0.5rem 0rem;
}
.sidebar .navigation_menu ul li a {
  display: flex;
  width: 100%;
  align-items: center;
  color: black;
  border-radius: 0.5rem;
  transition: all 0.2s linear;
  margin: 0.5rem 0rem;
  padding-right: 1rem;
}
.sidebar .navigation_menu ul li a .icon {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 1rem;
}
.sidebar .navigation_menu ul li a:hover {
  background-color: #cbdfeb;
  color: #0067d4;
}
.sidebar .sider_bar_footer {
  margin-top: auto;
  padding: 1rem;
}
.sidebar .sider_bar_footer .coming_soon_items {
  width: 100%;
  margin-bottom: 2rem;
}
.sidebar .sider_bar_footer .coming_soon_items ul {
  width: 100%;
}
.sidebar .sider_bar_footer .coming_soon_items ul li {
  width: 100%;
  padding-right: 70px;
  position: relative;
  margin-bottom: 1rem;
}
.sidebar .sider_bar_footer .coming_soon_items ul li h5 {
  text-transform: uppercase;
}
.sidebar .sider_bar_footer .coming_soon_items ul li span {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  color: #969696;
  font-size: 10px;
}
.sidebar .sider_bar_footer .adding_username_container {
  display: flex;
}
.sidebar .sider_bar_footer .adding_username_container .username_add_btn {
  flex-shrink: 0;
  margin-right: 1rem;
}
.sidebar .sider_bar_footer .adding_username_container .username_add_btn button {
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 2px 2px 1px #a7a5a5;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s linear;
}
.sidebar
  .sider_bar_footer
  .adding_username_container
  .username_add_btn
  button:active {
  transform: scale(0.8);
}
.sidebar .sider_bar_footer .adding_username_container .usernames .username {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
  gap: 8px;
}
.sidebar
  .sider_bar_footer
  .adding_username_container
  .usernames
  .username:last-child {
  margin-bottom: 0rem;
}
.sidebar
  .sider_bar_footer
  .adding_username_container
  .usernames
  .username
  .user_img {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  text-align: center;
  line-height: 30px;
  background-color: #c5c5c5;
  border-radius: 3px;
  color: white;
  position: relative;
}
.sidebar
  .sider_bar_footer
  .adding_username_container
  .usernames
  .username
  .user_img
  span {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  position: absolute;
  top: -7.5px;
  right: -7.5px;
  border: 2px solid white;
  background-color: red;
  font-size: 10px;
  border-radius: 50%;
}
.sidebar
  .sider_bar_footer
  .adding_username_container
  .usernames
  .username
  .user_image {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  background-color: #c5c5c5;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #0269d5;
}
.sidebar
  .sider_bar_footer
  .adding_username_container
  .usernames
  .username
  .user_image
  img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sidebar
  .sider_bar_footer
  .adding_username_container
  .usernames
  .username
  .user_name {
  padding: 0.5rem 1rem;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 12px;
  font-weight: 700;
  border-radius: 50px;
  text-align: center;
}
.sidebar
  .sider_bar_footer
  .adding_username_container
  .usernames
  .username
  .edit_btn
  button {
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 2px 2px 1px #a7a5a5;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s linear;
}
.sidebar
  .sider_bar_footer
  .adding_username_container
  .usernames
  .username
  .edit_btn
  button:active {
  transform: scale(0.8);
}
.sidebar
  .sider_bar_footer
  .adding_username_container
  .usernames
  .username
  .close_btn
  button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s linear;
}
.sidebar
  .sider_bar_footer
  .adding_username_container
  .usernames
  .username
  .close_btn
  button:active {
  transform: scale(0.8);
}

.expended {
  width: calc(2rem + 40px);
}
.expended .navigation_menu ul li a {
  padding-right: 0rem;
}

.body {
  width: calc(100% - 300px);
  margin: 60px 0px 80px auto;
  min-height: calc(100vh - 140px);
  transition: all 0.3s linear;
}
.body .title_box {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
  background: #007bff;
  background: linear-gradient(0deg, #007bff 0%, #0061c8 100%);
}
.body .title_box .title {
  text-align: center;
  margin-top: 3rem;
  color: white;
  font-size: 1.5rem;
}
.body .title_box .left_side,
.body .title_box .right_side {
  display: block;
  position: absolute;
  top: 0;
  width: 150px;
  height: 100%;
  background-color: #8bc34a;
  opacity: 0.2;
}
.body .title_box .left_side {
  left: 0;
  clip-path: circle(76.2% at 0 8%);
}
.body .title_box .right_side {
  right: 0;
  clip-path: circle(68.1% at 92% 54%);
}
.body .upperWave {
  width: 100%;
  height: 80px;
  position: relative;
  transform: rotate(180deg);
}

.footer {
  width: calc(100% - 300px);
  height: 80px;
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1rem;
  transition: all 0.3s linear;
}
.footer a {
  color: #969696;
}
.footer a:hover {
  color: #0269d5;
}
.footer .copyright p {
  font-size: 12px;
}
.footer .links ul {
  display: flex;
}
.footer .links ul li {
  margin-right: 0.5rem;
  font-size: 0.8rem;
  font-weight: 700;
}
.footer .links ul li:last-child {
  margin-right: 0rem;
}
.footer .right {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 101;
  margin-top: auto;
}
.footer .right p {
  color: #0269d5;
  font-size: 14px;
}

.change_log_table_container {
  padding: 0rem 5vw;
  padding-bottom: 3vw;
  position: relative;
}
.change_log_table_container .successrate_tooltipcontainer {
  position: absolute;
  top: 0px;
  right: 5vw;
  width: 100%;
  height: 50px;
}
.change_log_table_container .successrate_tooltipcontainer .info_tooltip {
  display: none;
  width: 250px;
  font-size: 12px;
  font-weight: 500;
  position: absolute;
  bottom: 10px;
  right: 0px;
  padding: 1rem;
  background-color: black;
  color: white;
  border-radius: 1rem;
  text-align: center;
  z-index: 1000;
}
.change_log_table_container .change_log_table_inner {
  border-radius: 1rem;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.change_log_table_container .change_log_table_inner .change_log_title {
  padding: 0rem 1rem;
  height: 50px;
  line-height: 50px;
  background-color: white;
}
.change_log_table_container .change_log_table_inner .change_log_table {
  width: 100%;
  padding-bottom: 1rem;
  background-color: white;
  overflow-x: auto;
}
.change_log_table_container .change_log_table_inner .change_log_table table {
  border-collapse: collapse;
  width: 100%;
}
.change_log_table_container
  .change_log_table_inner
  .change_log_table
  table
  .th-sort-asc::after {
  content: "▴";
  margin-left: 25px;
}
.change_log_table_container
  .change_log_table_inner
  .change_log_table
  table
  .th-sort-asc::after {
  content: "▾";
  margin-left: 5px;
}
.change_log_table_container .change_log_table_inner .change_log_table table tr {
  height: 50px;
}
.change_log_table_container
  .change_log_table_inner
  .change_log_table
  table
  thead {
  background-color: #f9f9f9;
  border: none;
}
.change_log_table_container
  .change_log_table_inner
  .change_log_table
  table
  thead
  tr {
  border: none;
}
.change_log_table_container
  .change_log_table_inner
  .change_log_table
  table
  thead
  tr
  th {
  min-width: 200px;
  padding: 0rem 1rem;
}
.change_log_table_container
  .change_log_table_inner
  .change_log_table
  table
  thead
  tr
  th:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}
.change_log_table_container
  .change_log_table_inner
  .change_log_table
  table
  thead
  tr
  th:last-child
  p {
  position: relative;
  user-select: none;
  cursor: pointer;
}
.change_log_table_container
  .change_log_table_inner
  .change_log_table
  table
  thead
  tr
  th:last-child
  .info {
  cursor: pointer;
  margin-bottom: 21px;
}
.change_log_table_container
  .change_log_table_inner
  .change_log_table
  table
  thead
  tr
  th:last-child
  .sortArrays {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  height: 16px;
}
.change_log_table_container
  .change_log_table_inner
  .change_log_table
  table
  thead
  tr
  th:last-child
  .sortArrays
  i:first-child {
  position: absolute;
}
.change_log_table_container
  .change_log_table_inner
  .change_log_table
  table
  thead
  tr
  th:last-child
  .sortArrays
  i:last-child {
  position: absolute;
}
.change_log_table_container
  .change_log_table_inner
  .change_log_table
  table
  tbody
  tr {
  background-color: white;
  transition: all 0.2s linear;
}
.change_log_table_container
  .change_log_table_inner
  .change_log_table
  table
  tbody
  tr:hover {
  background-color: #f9f9f9;
}
.change_log_table_container
  .change_log_table_inner
  .change_log_table
  table
  tbody
  tr
  td {
  min-width: 100px;
  text-align: center;
  padding: 0rem 1rem;
}

.infoContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}
.infoContainer p {
  position: relative;
  user-select: none;
  cursor: pointer;
}
.infoContainer .info {
  cursor: pointer;
  margin-bottom: 21px;
}
.infoContainer .sortArrays {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  height: 16px;
}
.infoContainer .sortArrays i:first-child {
  position: absolute;
}
.infoContainer .sortArrays i:last-child {
  position: absolute;
}

.hashtags {
  width: 100%;
}
.hashtags .form_container {
  width: 100%;
  padding: 3vw 5vw;
}
.hashtags .form_container .form_inner {
  width: 100%;
  background-color: white;
  border-radius: 1rem;
  padding-bottom: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.hashtags .form_container .form_inner .form {
  width: calc(100% - 4rem);
  height: 30px;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  box-sizing: content-box;
}
.hashtags .form_container .form_inner .form form {
  display: flex;
  height: 100%;
}
.hashtags .form_container .form_inner .form form .input {
  display: flex;
  height: 100%;
  align-items: center;
  margin-right: 1rem;
}
.hashtags .form_container .form_inner .form form .input .info {
  height: 50px;
  position: relative;
  cursor: pointer;
}
.hashtags .form_container .form_inner .form form .input .info .info_tooltip {
  display: none;
  width: 250px;
  font-size: 12px;
  font-weight: 500;
  position: absolute;
  bottom: calc(30px + 2rem);
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem;
  background-color: black;
  color: white;
  border-radius: 1rem;
  text-align: center;
  z-index: 1000;
}
.hashtags
  .form_container
  .form_inner
  .form
  form
  .input
  .info:hover
  .info_tooltip {
  display: block;
}
.hashtags .form_container .form_inner .form form .input label {
  font-weight: 700;
  font-size: 0.8rem;
  color: #969696;
  margin-right: 0.5rem;
}
.hashtags .form_container .form_inner .form form .input input {
  width: 100px;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  padding: 0rem 0.5rem;
}
.hashtags .form_container .form_inner .form form .button {
  height: 100%;
}
.hashtags .form_container .form_inner .form form .button button {
  height: 100%;
  border: none;
  outline: none;
  padding: 0rem 1rem;
  border-radius: 50px;
  cursor: pointer;
  background-color: #0269d5;
  color: white;
}
.hashtags .form_container .form_inner .form .hashtag_info {
  display: flex;
  align-items: center;
}
.hashtags .form_container .form_inner .form .hashtag_info p {
  font-size: 0.8rem;
  font-weight: 700;
  color: #969696;
  margin-right: 1rem;
}
.hashtags .form_container .form_inner .form .hashtag_info button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 0.8rem;
  font-weight: 700;
  color: #969696;
}
.hashtags .form_container .form_inner .group {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0rem;
  background-color: #f9f9f9;
  gap: 1rem;
}
.hashtags .form_container .form_inner .group button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
.hashtags .form_container .form_inner .group .group_list {
  position: relative;
  width: 100px;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
}
.hashtags .form_container .form_inner .group .group_list p {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
.hashtags .hashtag_groups_container {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.hashtags .hashtag_groups_container .hashtag_group {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0rem 5vw;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.hashtags .hashtag_groups_container .hashtag_group .hashtag {
  width: 250px;
  background-color: #0269d5;
  padding: 2rem;
  padding-bottom: calc(60px + 2rem);
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  overflow: hidden;
  border-radius: 1rem;
  text-align: center;
}
.hashtags .hashtag_groups_container .hashtag_group .hashtag p {
  display: inline;
}
.hashtags .hashtag_groups_container .hashtag_group .hashtag .menu {
  position: absolute;
  top: 2rem;
  right: 2rem;
}
.hashtags .hashtag_groups_container .hashtag_group .hashtag .menu button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  color: white;
  font-size: 1rem;
}
.hashtags .hashtag_groups_container .hashtag_group:first-child {
  position: relative;
}
.hashtags .use_grp_btn {
  padding: 3vw 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hashtags .use_grp_btn button {
  border: none;
  outline: none;
  background-color: #0269d5;
  color: white;
  cursor: pointer;
  border-radius: 50px;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: 700;
}

.posts .post_container {
  padding: 3vw 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.posts .post_container .post_box {
  width: 600px;
  border-radius: 1rem;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  -webkit-box-shadow: 0 1.5px 12px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1.5px 12px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1.5px 12px 2px rgba(116, 107, 107, 0.1);
}
.posts .post_container .post_box .post_box_header {
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.posts .post_container .post_box .post_box_header .p_b_btns a {
  color: #969696;
  font-weight: 700;
  font-size: 0.9rem;
}
.posts .post_container .post_box .post_box_header .p_b_btns a:first-child {
  margin-right: 1rem;
}
.posts .post_container .post_box .edit {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  background-color: #f9f9f9;
}
.posts .post_container .post_box .edit a {
  color: #969696;
  font-weight: 700;
  font-size: 0.8rem;
  margin-left: 0.5rem;
}
.posts .post_container .post_box .symbol_method {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  position: relative;
  z-index: 1;
}
.posts .post_container .post_box .symbol_method .s_m_inner {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.posts .post_container .post_box .symbol_method .s_m_inner .symbol,
.posts .post_container .post_box .symbol_method .s_m_inner .method {
  padding: 0.8rem 1.5rem;
  user-select: none;
  font-size: 0.9rem;
  font-weight: 600;
  color: #969696;
}
.posts .post_container .post_box .symbol_method .s_m_inner .symbol {
  padding-right: 0rem;
}
.posts .post_container .post_box .symbol_method .s_m_inner .icon {
  padding: 0.8rem 1rem;
  padding-left: 0rem;
}
.posts .post_container .post_box .symbol_method .s_m_list {
  display: none;
  position: absolute;
  top: calc(100% + 1rem);
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.posts .post_container .post_box .symbol_method .s_m_list .list_item {
  display: flex;
  margin-bottom: 1rem;
  user-select: none;
  cursor: pointer;
  padding: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.posts .post_container .post_box .symbol_method .s_m_list .list_item:hover {
  background-color: #cbdfeb;
}
.posts
  .post_container
  .post_box
  .symbol_method
  .s_m_list
  .list_item:last-child {
  margin-bottom: 0rem;
}
.posts .post_container .post_box .symbol_method .s_m_list .list_item h3 {
  margin-right: 1rem;
}
.posts .post_container .post_box .mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}
.posts .post_container .post_box .mobile .arrow {
  font-size: 2rem;
  color: #0269d5;
  cursor: pointer;
  transform: translateY(-55px);
}
.posts .post_container .post_box .mobile .slide_left_control {
  margin-right: 14px;
}
.posts .post_container .post_box .mobile .slide_right_control {
  margin-left: 16px;
}
.posts .post_container .post_box .mobile .mobile_inner {
  width: 260px;
  height: 530px;
  background-image: url("../assets/images/mobile.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px 10px 20px 18px;
}
.posts .post_container .post_box .mobile .mobile_inner .profile {
  display: flex;
  align-items: center;
  padding: 1rem;
}
.posts .post_container .post_box .mobile .mobile_inner .profile .image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #0269d5;
  overflow: hidden;
  flex-shrink: 0;
}
.posts .post_container .post_box .mobile .mobile_inner .profile .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.posts .post_container .post_box .mobile .mobile_inner .profile .date_status {
  margin-left: 1rem;
}
.posts
  .post_container
  .post_box
  .mobile
  .mobile_inner
  .profile
  .date_status
  .date,
.posts
  .post_container
  .post_box
  .mobile
  .mobile_inner
  .profile
  .date_status
  .status {
  display: flex;
}
.posts
  .post_container
  .post_box
  .mobile
  .mobile_inner
  .profile
  .date_status
  .date
  h5,
.posts
  .post_container
  .post_box
  .mobile
  .mobile_inner
  .profile
  .date_status
  .status
  h5 {
  margin-right: 3px;
}
.posts
  .post_container
  .post_box
  .mobile
  .mobile_inner
  .profile
  .date_status
  .date
  p,
.posts
  .post_container
  .post_box
  .mobile
  .mobile_inner
  .profile
  .date_status
  .status
  p {
  font-size: 12px;
  font-weight: 600;
}
.posts
  .post_container
  .post_box
  .mobile
  .mobile_inner
  .profile
  .date_status
  .date {
  margin-bottom: 5px;
}
.posts
  .post_container
  .post_box
  .mobile
  .mobile_inner
  .profile
  .date_status
  .date
  p {
  color: #969696;
}
.posts
  .post_container
  .post_box
  .mobile
  .mobile_inner
  .profile
  .date_status
  .status
  p {
  color: #0269d5;
}
.posts .post_container .post_box .mobile .mobile_inner .image_slider {
  width: 100%;
  height: 220px;
  overflow: hidden;
}
.posts
  .post_container
  .post_box
  .mobile
  .mobile_inner
  .image_slider
  .image_slide {
  width: 100%;
  height: 100%;
  background-color: rebeccapurple;
  position: relative;
}
.posts
  .post_container
  .post_box
  .mobile
  .mobile_inner
  .image_slider
  .image_slide
  .image_sildes {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.posts
  .post_container
  .post_box
  .mobile
  .mobile_inner
  .image_slider
  .image_slide
  .image_sildes:first-child {
  position: relative;
}
.posts
  .post_container
  .post_box
  .mobile
  .mobile_inner
  .image_slider
  .image_slide
  .image_sildes
  img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.posts
  .post_container
  .post_box
  .mobile
  .mobile_inner
  .image_slider
  .image_slider_dots {
  width: 100%;
  height: 30px;
  display: none;
  justify-content: center;
  align-items: center;
}
.posts
  .post_container
  .post_box
  .mobile
  .mobile_inner
  .image_slider
  .image_slider_dots
  span {
  cursor: pointer;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.posts
  .post_container
  .post_box
  .mobile
  .mobile_inner
  .image_slider
  .image_slider_dots
  span.active {
  background-color: #303030;
}
.posts
  .post_container
  .post_box
  .mobile
  .mobile_inner
  .image_slider
  .image_slider_dots
  span:last-child {
  margin-right: 0rem;
}
.posts .post_container .post_box .mobile .mobile_inner .image_description {
  padding: 0.7rem 1rem;
  font-size: 10px;
  font-weight: 700;
  max-height: 100px;
  overflow-y: auto;
}
.posts .post_container .post_box .mobile .mobile_inner .image_description span {
  color: #0269d5;
}
.posts .post_container .post_box .mobile .mobile_inner .image_upload_remove {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.posts
  .post_container
  .post_box
  .mobile
  .mobile_inner
  .image_upload_remove
  #file_upload_for_image {
  position: fixed;
  top: -20000px;
}
.posts
  .post_container
  .post_box
  .mobile
  .mobile_inner
  .image_upload_remove
  label {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  cursor: pointer;
  width: 120px;
  height: 30px;
  font-size: 12px;
  font-weight: 600;
  transition: all 0.2s linear;
}
.posts
  .post_container
  .post_box
  .mobile
  .mobile_inner
  .image_upload_remove
  label
  .icon {
  margin-right: 0.5rem;
}
.posts
  .post_container
  .post_box
  .mobile
  .mobile_inner
  .image_upload_remove
  label:active {
  transform: scale(0.9);
}
.posts
  .post_container
  .post_box
  .mobile
  .mobile_inner
  .image_upload_remove
  .upload {
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 1292px) {
  .hashtags .form_container .form_inner .form {
    height: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .hashtags .form_container .form_inner .form form {
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-bottom: 1rem;
  }
  .hashtags .form_container .form_inner .form form .input {
    height: auto;
    flex-direction: column;
    margin-right: 0rem;
    margin-bottom: 1rem;
  }
  .hashtags .form_container .form_inner .form form .input .info {
    height: auto;
  }
  .hashtags .form_container .form_inner .form form .input label {
    margin-right: 0rem;
    margin-bottom: 0.5rem;
  }
  .hashtags .form_container .form_inner .form form .input input {
    height: 30px;
  }
  .hashtags .form_container .form_inner .form form .button {
    height: 30px;
  }
  .hashtags .form_container .form_inner .form .hashtag_info {
    flex-direction: column;
  }
  .hashtags .form_container .form_inner .form .hashtag_info p {
    margin-right: 0rem;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 1192px) {
  .header {
    height: auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .header .header_left .h_l_inner {
    flex-direction: column;
  }
  .header .header_left .h_l_inner .searchBox_container {
    height: 40px;
    padding: 0rem 2rem;
    flex-shrink: 0;
    order: 1;
  }
  .header .header_left .h_l_inner .welcome_message_container {
    height: 60px;
    line-height: 60px;
    margin-left: 0rem;
    text-align: center;
  }
  .header .short_menu_triggers {
    margin-left: initial;
    height: 60px;
    display: flex;
    align-items: center;
  }

  .body {
    margin: 160px 0px 80px auto;
  }
}
@media screen and (max-width: 992px) {
  .header .header_left .h_l_inner {
    display: none;
  }
  .header .short_menu_triggers {
    margin-left: auto;
  }

  .header_welcome_responsive {
    display: block;
    width: 100%;
    margin-top: 60px;
    padding: 1rem;
    background-color: #0269d5;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  .header_welcome_responsive .searchBox_container,
  .header_welcome_responsive .welcome_message_container {
    width: 100%;
  }
  .header_welcome_responsive .searchBox_container {
    margin-bottom: 1rem;
  }
  .header_welcome_responsive .searchBox_container .form form {
    background-color: white;
    border-radius: 0.5rem;
    overflow: hidden;
    display: flex;
  }
  .header_welcome_responsive .searchBox_container .form form button {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    background-color: transparent;
    color: black;
    font-size: 1rem;
    flex-shrink: 0;
  }
  .header_welcome_responsive .searchBox_container .form form input {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    padding-right: 1rem;
  }
  .header_welcome_responsive .welcome_message_container {
    width: 100%;
    text-align: center;
    color: white;
  }
  .header_welcome_responsive .welcome_message_container h1 {
    font-family: "Courier Prime", monospace;
  }

  .body {
    margin-top: 0rem;
  }

  .sidebar {
    border-right: none;
    z-index: 2;
    height: auto;
  }
  .sidebar .bar_logo {
    background-color: #0269d5;
  }
  .sidebar .bar_logo .menu_bar span {
    background-color: #cbdfeb;
    transition: none;
  }
  .sidebar .bar_logo .logo a {
    color: #cbdfeb;
  }
  .sidebar .mobile_menu_wrapper {
    min-width: 300px;
    height: calc(100vh - 120px);
    position: fixed;
    top: 60px;
    left: -100%;
    transition: all 0.3s ease-in-out;
    background-color: white;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .sidebar .sidebarinout {
    left: 0px;
  }

  .body,
  .footer {
    width: 100%;
  }

  .header .header_left {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .header .header_left .profiles_triggers {
    width: 200px;
    flex-direction: column;
    padding: 1rem;
    background-color: white;
    position: absolute;
    display: none;
    top: 30px;
    opacity: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    -webkit-box-shadow: 0 1.5px 12px 2px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0 1.5px 12px 2px rgba(0, 0, 0, 0.06);
    box-shadow: 0 1.5px 12px 2px rgba(0, 0, 0, 0.06);
    transition: all 0.3s linear;
  }
  .header .header_left .profiles_triggers .profile_trigger {
    width: 100%;
    padding: 0.5rem 0rem;
    margin-right: 0rem;
    margin-bottom: 1rem;
  }
  .header .header_left .profiles_triggers .profile_trigger:last-child {
    margin-bottom: 0rem;
  }
  .header .header_left .short_menu_trigger {
    display: block;
  }
  .header .short_menu_triggers {
    padding: 0 1rem;
  }

  .hashtags .hashtag_groups_container .hashtag_group {
    justify-content: center;
  }
}
@media screen and (max-width: 600px) {
  .header,
  .sidebar {
    width: 50%;
  }

  .header .user_settings_container,
  .header .notifications_container {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 2;
    border-bottom: 10px solid #0269d5;
    border-radius: 0;
  }

  .sidebar .mobile_menu_wrapper {
    width: 100vw;
  }

  .floating_action_buttons {
    z-index: 1;
  }
  .floating_action_buttons .btn_container {
    position: initial;
  }
  .floating_action_buttons .btn_container .chat_box_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 0;
    height: 100%;
  }
  .floating_action_buttons .btn_container .bulb_container,
  .floating_action_buttons .btn_container .question_box_container {
    border-radius: 0;
    border-top: 10px solid #0269d5;
    border-bottom: 10px solid #0269d5;
    width: calc(100vw - 60px - 2rem);
    bottom: initial;
    top: 0;
    right: calc(60px + 2rem);
    height: calc(100% + 80px);
    overflow-y: auto;
  }

  .posts .post_container .post_box .mobile .arrow {
    display: none;
  }
  .posts
    .post_container
    .post_box
    .mobile
    .mobile_inner
    .image_slider
    .image_slide {
    height: 190px;
  }
  .posts
    .post_container
    .post_box
    .mobile
    .mobile_inner
    .image_slider
    .image_slider_dots {
    display: flex;
  }
}
body {
  background-color: #cbdfeb;
}

.viewPortToggle {
  width: calc(100% - 2rem - 40px);
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-image: url("../assets/images/wave.png");
  background-size: 1000px 60px;
}
.wave.wave1 {
  animation: moveWave 20s linear infinite;
  z-index: 100;
  bottom: 0;
  animation-delay: 0s;
  opacity: 0.8;
}
.wave.wave2 {
  animation: moveWave2 15s linear infinite;
  z-index: 99;
  bottom: -10px;
  animation-delay: -5s;
  opacity: 0.5;
}
.wave.wave3 {
  animation: moveWave 15s linear infinite;
  z-index: 98;
  bottom: -15px;
  animation-delay: -2s;
  opacity: 0.3;
}
.wave.wave4 {
  animation: moveWave2 5s linear infinite;
  z-index: 97;
  bottom: -20px;
  animation-delay: -5s;
  opacity: 0.7;
}

.upperWave .wave.wave1,
.lowerWave .wave.wave1 {
  bottom: 0;
}
.upperWave .wave.wave2,
.lowerWave .wave.wave2 {
  bottom: 10px;
}
.upperWave .wave.wave3,
.lowerWave .wave.wave3 {
  bottom: 15px;
}
.upperWave .wave.wave4,
.lowerWave .wave.wave4 {
  bottom: 20px;
}

@keyframes moveWave {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}
@keyframes moveWave2 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: -1000px;
  }
}

/*# sourceMappingURL=style.css.map */
